footer.main-footer
    div.wrapper 
        div.left-container 
            ul 
                li
                    a(href="mailto:wearebira@gmail.com", target="_blank") wearebira@gmail.com
                    
                li
                    a(href="#") @bira.pt

        div.right-container
            ul 
                li
                    a(href="#") legal
                    
                li &copy; bira 2022


script(src='./assets/script.js')