header.main-header
    .wrapper
        img(src='https://via.placeholder.com/96x43')
        nav 
            ul
                li 
                    a(href="#") about 
                li 
                    a(href="#") contacts
                li 
                    a(href="#") works
                li 
                    a(href="#") writing 