doctype html
html  
    head
        block head             
        style 
            include ./../css/fonts.css
        link(rel='stylesheet', href='./assets/style.css')
    body
        include ./components/header.pug
        main
            block content
        include ./components/footer.pug