extends ../layout.pug
block head
    title Hello World

block content  
    include ./../components/modules/text-highlight.pug
    - img = {desktop: "https://via.placeholder.com/1200x500.webp/", mobile: "https://via.placeholder.com/300.webp/"}
    include ./../components/modules/text-highlight.pug
    - img = {desktop: "https://via.placeholder.com/500.webp/", mobile: "https://via.placeholder.com/300.webp/"}
    - isRight = true;
    include ./../components/modules/text-image.pug
    - img = {desktop: "https://via.placeholder.com/1200x500.webp/", mobile: "https://via.placeholder.com/300.webp/"}
    include ./../components/modules/hero.pug
    - img = {desktop: "https://via.placeholder.com/1200x500.webp/", mobile: "https://via.placeholder.com/300.webp/"}
    include ./../components/modules/image.pug
    - img = {desktop: "https://via.placeholder.com/500.webp/", mobile: "https://via.placeholder.com/300.webp/"}
    include ./../components/modules/double-image.pug
    include ./../components/modules/text.pug
    include ./../components/modules/quote.pug