body {
    color: $font-color;
    font-family: $font-family;
    font-size: 18px;
    line-height: 22px;
    background-color: $background-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  min-height: calc(100vh - 220px);
}

strong {
  font-weight: 700;
}


p {
  margin-bottom: 30px;
}

picture {
  display: flex;

  img {
    max-width: 100%;
  }
}

section {
  margin-bottom: 50px;
}