$font-color: #333;
$font-family: roboto, sans-serif;


// Colors
$background-color: #eee;
$primary-color: #000;
$brand-color-1: #E7BD35;
$brand-color-2: #E85E25;
$brand-color-3: #4CAA8D;
$brand-color-4: #6256A5;
