section.double-image 
    div.wrapper
        figure 
            picture 
                source(srcset=img.desktop, media="(min-width:992px)")
                img(srcset=img.mobile)
            figcaption Lorem Ipsum 3000
        figure 
            picture 
                source(srcset=img.desktop, media="(min-width:992px)")
                img(srcset=img.mobile)
            figcaption Lorem Ipsum 3000