section.hero 
    figure 
        picture 
            source(srcset=img.desktop, media="(min-width:992px)")
            img(srcset=img.mobile)
        figcaption Lorem Ipsum 3000
    footer 
        div.title-wrapper
            p.hero-title Baú
            p.hero-subtitle pet house
        div.info-container
            p for<br>Montado do Sobro e da Cortiça
        div.info-container
            p brand identity and<br>communication
        div.info-container
            p 2021
