section.text-image(class=(isRight ? 'right-align' : ''))
    div.rte
                p we are design consultancy focused on social, ethical and sustainable design.
                p we are creative.<br>we are commited.<br>we are envolved.
                p we are <strong>bira</strong>.
    figure 
        figcaption Lorem Ipsum 3000
            
        picture 
             source(srcset="")
             img(src="")
        